html, body {
	height: 100%;
	margin: 0;
    padding: 0;
    width: 100%;
}

#hello{
	display: block;
	height: 60%;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100;
	background-image: url("Hello.jpg");
	background-repeat: no-repeat;
	background-size: 100% 80%;
	padding-top: 10%;
	text-align: center;
	font-size: 5em;
	font-family: Verdana;
	color: white;
}
#DS{
	margin-top: -10em;
	padding: 0;
	border: 0;
	width: 20%;
	height: 40%;
	background-image: url("DS.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
	font-family: Verdana;
	color: white;
}
/*<a href = "test.html">test1</a>*/

