html, body {
	height: 100%;
	margin: 0;
    padding: 0;
    width: 100%;
    font-size: 100%;
}
#container{
	width: 100%;
}
#hello{
	display: block;
	height: 60%;
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background-image: url("Hello.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 10%;
	text-align: center;
	font-size: 5em;
	font-family: Verdana;
	color: white;
}
#DS{
	
	float: left;
	padding: 0;
	margin: 1em;
	border: 0;
	width: 20%;
	height: 20%;
	background-color: #778899;
	/*background-image: url("DS.jpg");
	background-color: blue;
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
	font-family: Verdana;
	color: white;
}
#Research{
	
	height: 20%;
	margin: 1em;
	padding: 0;
	border: 0;
	width: 20%;
	float: left;
	background-color: #778899;
	/*background-image: url("Research.jpg");
	background-color: blue;
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
	font-family: Verdana;
	color: black;
}
#Violin{
	
	height: 20%;
	margin: 1em;
	padding: 0;
	border: 0;
	width: 20%;
	float: left;
	background-color: #778899;
	/*background-image: url("Research.jpg");
	background-color: blue;
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
	font-family: Verdana;
	color: black;
}
#EWB{
	
	height: 20%;
	margin: 1em;
	padding: 0;
	border: 0;
	width: 20%;
	float: left;
	background-color: #778899;
	/*background-image: url("Research.jpg");
	background-color: blue;
	background-repeat: no-repeat;
	background-size: 100% 100%;*/
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
	font-family: Verdana;
	color: black;
}

/*<a href = "test.html">test1</a>*/

