
html, body {
	height: 100%;
	margin: 0;
    	padding: 0;
    	width: 100%;
    	font-size: 100%;
}
#background{
	height: 100%;
	border: 0;
	width: 100%;
	padding-top: 0;
	text-align: center;
	font-size: 2.5vmin;
	font-family: "Hiragino Sans";
	background-image: url("Hello.png");
	background-repeat: repeat;
	background-size: cover;
}
